In [1]:
##!pip install fbprophet

### Prophet intro

    Facebook research team has come up new library for Time Series Analysis called Prophet.
    
    Their main goal is to to make it easier for experts and non-experts to make high quality forecasts that keep up with demand.

    There are several characteristics of Prophet that shows where Prophet works best:
        1.prophet will handle hourly, daily or all weekly observations with at least a few months (preferably a year) 
        of history
        2.Important holidays that occur at irregular intervals that are known in advance to prophet
        3.prophet will handle A reasonable number of missing observations or large outliers
        4.prophet will handle Historical trend changes
        5.prophet will handle Trends that are non-linear growth curves

In [86]:
from fbprophet import Prophet

In [87]:
m = Prophet()

### predict closing prices of amazon

In [88]:
df.head()

              open    high      low   close   volume  Name  1day % return
date
2013-02-08  261.40  265.25  260.555  261.95  3879078  AMZN       0.209964
2013-02-11  263.20  263.25  256.600  257.21  3403403  AMZN      -2.328836
2013-02-12  259.19  260.16  257.000  258.70  2938660  AMZN      -0.189409
2013-02-13  261.53  269.96  260.300  269.47  5292996  AMZN       2.946525
2013-02-14  267.37  270.65  265.400  269.24  3462780  AMZN       0.694548

In [89]:
df.drop(['open','high','low','volume','Name','1day % return'],axis=1,inplace=True)

In [90]:
df.head()

             close
date
2013-02-08  261.95
2013-02-11  257.21
2013-02-12  258.70
2013-02-13  269.47
2013-02-14  269.24

In [91]:
df.reset_index(inplace=True)

In [92]:
df.head()

        date   close
0 2013-02-08  261.95
1 2013-02-11  257.21
2 2013-02-12  258.70
3 2013-02-13  269.47
4 2013-02-14  269.24

In [93]:
df.rename(columns={'date':'ds','close':'y'},inplace=True)

In [94]:
df.head()

          ds       y
0 2013-02-08  261.95
1 2013-02-11  257.21
2 2013-02-12  258.70
3 2013-02-13  269.47
4 2013-02-14  269.24

In [95]:
m.fit(df)

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [96]:
# Create Future dates
future_prices = m.make_future_dataframe(periods=365)

In [97]:
future_prices.shape

(1624, 1)

In [98]:
# Predict Prices
forecast = m.predict(future_prices)

In [99]:
forecast.head()

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2013-02-08,219.967630,221.147737,288.102261,219.967630,219.967630,34.783234,34.783234,34.783234,-6.988830,-6.988830,-6.988830,41.772064,41.772064,41.772064,0.0,0.0,0.0,254.750864
1,2013-02-11,221.070708,221.047544,285.011872,221.070708,221.070708,32.066744,32.066744,32.066744,-6.927727,-6.927727,-6.927727,38.994471,38.994471,38.994471,0.0,0.0,0.0,253.137453
2,2013-02-12,221.438401,221.914931,284.781351,221.438401,221.438401,31.408417,31.408417,31.408417,-6.875258,-6.875258,-6.875258,38.283675,38.283675,38.283675,0.0,0.0,0.0,252.846818
3,2013-02-13,221.806094,221.409602,283.866786,221.806094,221.806094,30.763750,30.763750,30.763750,-6.940739,-6.940739,-6.940739,37.704489,37.704489,37.704489,0.0,0.0,0.0,252.569844
4,2013-02-14,222.173787,222.443315,284.718878,222.173787,222.173787,29.968678,29.968678,29.968678,-7.296958,-7.296958,-7.296958,37.265637,37.265637,37.265637,0.0,0.0,0.0,252.142465

In [100]:
forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].tail()

             ds         yhat   yhat_lower   yhat_upper
1619 2019-02-03  1809.659414  1200.391686  2464.098950
1620 2019-02-04  1785.516925  1189.362070  2422.879843
1621 2019-02-05  1785.807015  1173.005856  2419.893350
1622 2019-02-06  1785.945449  1167.522710  2423.058157
1623 2019-02-07  1785.787859  1168.435700  2458.087923